[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Publish"]
	path = Publish
	url = https://github.com/tagteam/publish
[submodule "pec"]
	path = pec
	url = https://github.com/tagteam/pec
[submodule "prodlim"]
	path = prodlim
	url = https://github.com/tagteam/prodlim
[submodule "riskRegression"]
	path = riskRegression
	url = https://github.com/tagteam/riskregression
